<h1>Listing shorteners</h1>

<table>
  <tr>
    <th>Orig url</th>
    <th>Uniuqe path</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @shorteners.each do |shortener| %>
  <tr>
    <td><%= shortener.orig_url %></td>
    <td><%= shortener.unique_path %></td>
    <td><%= link_to 'Show', shortener %></td>
    <td><%= link_to 'Edit', edit_shortener_path(shortener) %></td>
    <td><%= link_to 'Destroy', shortener, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Shortener', new_shortener_path %>
